.sidebar {
    height: 100%;
    position: fixed;
    width: 160px;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    background-color: #2196F3;
    color: white;
    padding: 20px;
}

.form-add-list {
    display: flex;
    position: relative;
}

.input-list {
    color: white;
    border: none;
    outline: none;
    background-color: #2196F3;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    width: 125px;
}

.btn-add-list {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

::placeholder {
    color: white;
}

.lists {
    margin-top: 30px;
    font-size: large;
    cursor: pointer;
}

.list-container {
    display: flex;
}

.delete-list {
    margin-left: 10px;
    cursor: pointer;
}

