.sidebar {
    height: 100%;
    position: fixed;
    width: 160px;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    background-color: #2196F3;
    color: white;
    padding: 20px;
}

